Checks: >
  -*,
  bugprone-*,
  modernize-*,
  readability-*,
  performance-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  misc-*
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: none
User: ''
CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
  - key: modernize-use-override.IgnoreDestructors
    value: '1'
  - key: system-headers
    value: 'true'
