---
Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-named-parameter,
  -readability-braces-around-statements,
  -readability-identifier-length,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard

WarningsAsErrors: "*"
HeaderFilterRegex: ".*"
FormatStyle: file
